[
  {
    "id": 9990,
    "cadastral_no": "79:06:2701002:287",
    "area_sqm": 9930,
    "region": "Еврейская автономная область",
    "municipality": "Смидовичский район",
    "land_category": "Земли сельскохозяйственного назначения",
    "permitted_use": "Для ведения личного подсобного хозяйства",
    "ogv": "Администрация Смидовичского района",
    "date_create": "22.04.2026",
    "date_update": "",
    "status": "Свободен",
    "lat": "48°33′21″",
    "lon": "134°57′14″",
    "boundaries": "Есть",
    "address": "Еврейская автономная область, Смидовичский район"
  },
  {
    "id": 1492,
    "cadastral_no": "14:29:040004:523",
    "area_sqm": 3998,
    "region": "Республика Саха (Якутия)",
    "municipality": "Усть-Алданский улус",
    "land_category": "Земли сельскохозяйственного назначения",
    "permitted_use": "сельскохозяйственное использование",
    "ogv": "АДМИНИСТРАЦИЯ МУНИЦИПАЛЬНОГО РАЙОНА \"УСТЬ-АЛДАНСКИЙ УЛУС (РАЙОН)\" РЕСПУБЛИКИ САХА (ЯКУТИЯ)",
    "date_create": "15.12.2021",
    "date_update": "23.01.2024",
    "status": "Свободен",
    "lat": "",
    "lon": "",
    "boundaries": "Нет",
    "address": "Республика Саха (Якутия), Усть-Алданский улус"
  },
  {
    "id": 1526,
    "cadastral_no": "25:06:130202:958",
    "area_sqm": 450,
    "region": "Приморский край",
    "municipality": "Красноармейский район",
    "land_category": "Земли населенных пунктов",
    "permitted_use": "Обслуживание автотранспорта",
    "ogv": "АДМИНИСТРАЦИЯ КРАСНОАРМЕЙСКОГО МУНИЦИПАЛЬНОГО ОКРУГА ПРИМОРСКОГО КРАЯ",
    "date_create": "15.12.2021",
    "date_update": "23.01.2024",
    "status": "Свободен",
    "lat": "",
    "lon": "",
    "boundaries": "Нет",
    "address": "Приморский край, Красноармейский район"
  }
]
